@import "/home/kyle/.config/eww/widgets/right/datetime/datetime.scss";
@import "/home/kyle/.config/eww/widgets/right/calendar/calendar.scss";
@import "/home/kyle/.config/eww/widgets/left/left.scss";
@import "/home/kyle/.cache/wal/colors.scss";

.taskbar {
    background: transparent;
}

.bar {
    background-color: transparentize($color3, 0.7);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 0.3px solid transparentize(white, 0.2);
}

.container {
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    padding: 5px;
}

.image {
    color: white;
}
