@import "/home/kyle/.config/eww/widgets/datetime/datetime.scss";
@import "/home/kyle/.config/eww/widgets/calendar/calendar.scss";
@import "/home/kyle/.cache/wal/colors.scss";
.taskbar {
    background: transparent;
}

.bar {
    /* background-color: transparentize($background, 0.5); */
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.container {
    /* background-color: rgba(0, 0, 0, 0.3); */
    padding: 5px;
}

.image {
    color: white;
}
