@import "/home/kyle/.config/eww/widgets/right/datetime/datetime.scss";
@import "/home/kyle/.config/eww/widgets/right/calendar/calendar.scss";
@import "/home/kyle/.config/eww/widgets/left/left.scss";
@import "/home/kyle/.config/eww/widgets/right/right.scss";
@import "/home/kyle/.config/eww/widgets/center/center.scss";
@import "/home/kyle/.cache/wal/colors.scss";

.taskbar {
    background: transparent;
}

.bar {
    background-color: transparentize($background, 0.7);
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 0.3px solid transparentize($background, 0.6);
}

.container {
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
    padding: 5px;
}

.image {
    color: white;
}
