dconf
github-copilot
go
htop
ibus
kde.org
procps
pulse
systemd
unity3d
xfce4
yay
Thunar
baloofileinformationrc
dolphinrc
gwenviewrc
mimeapps.list
trashrc
user-dirs.dirs
user-dirs.locale
QtProject.conf
vlc
pavucontrol.ini
taskbar-icons
