@import "/home/kyle/.config/eww/widgets/right/datetime/datetime.scss";
@import "/home/kyle/.config/eww/widgets/right/calendar/calendar.scss";
@import "/home/kyle/.config/eww/widgets/left/left.scss";
@import "/home/kyle/.config/eww/widgets/right/right.scss";
@import "/home/kyle/.config/eww/widgets/center/center.scss";
@import "/home/kyle/.cache/wal/colors.scss";

.taskbar {
    background: transparent;
    padding: 4px;
}

.bar {
    background-color: transparentize(black, 0.7);
    padding-left: 15px;
    padding-right: 15px;
    /* border-bottom: 0.3px solid transparentize(white, 0.6); */
}

.container {
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: white;
}

.image {
    color: white;
}
