@import "/home/kyle/.cache/wal/colors.scss";

.right {
    color: white;
    text-shadow: 0px 0px 3px transparentize(black, 0.5);
    font-weight: 500;
}

scale,
slider,
trough {
    all: unset;
}

.volume-overlay {
    text-shadow: none;
    color: transparentize(white, 0.7);
}

scale {
    background: transparent;
}

highlight {
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 0px 10px transparentize(black, 0.2);
}

trough {
    background: transparentize(white, 0.5);
    border: 0px solid transparentize(white, 0.5);
    border-radius: 10px;
    box-shadow: none;
    min-height: 2px;
}

.btn.mic.active {
    text-shadow: none;
    background: $color4;
    border-radius: 100%;
    box-shadow: 2px 0px 10px transparentize(black, 0.2);
}

.tray-trigger {
    border-radius: 100%;
}

.tray-trigger.active {
  background: $color4;
}

.tray-container.active {
    background: transparentize(white, 0.9);
}

.tray-container {
    border-radius: 100px;
}

.tray-items {
    padding-left: 3px;
    padding-right: 6px;
}
