@import "/home/kyle/.cache/wal/colors.scss";

.calendar {
    background: transparent;
}

.cal {
    background-color: transparentize($background, 0.05);
    border: 0.3px solid transparentize($foreground, 0.5);
    font-family: "SF Pro";
    padding: 0px;
    border-radius: 8px;
    color: $foreground;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    &:selected {
        color: $color3;
    }
    &.button {
        background: transparentize(black, 0.9);
    }

    &.highlight {
        color: transparentize(white, 0.3);
    }
    &:indeterminate {
        color: $color8;
    }
    &.header {
        background: transparentize(black, 0.9);
        &.month {
            font-weight: bold;
        }
    }
}
