.sidebar {
	background: transparent;
}

.thunar {
	background: rgba(0,0,0, 0.5);
}

.view {
	background: rgba(0,0,0, 0);
}

.standard-view {
	background: rgb(0,0,0);
}

.image-button {
	transform: scale(0.5);
}
