@import "/home/kyle/.cache/wal/colors.scss";

.workspace-button {
    all: unset;
    border-radius: 100%;
    background: transparentize(white, 0.5);
    transition: 0.4s;
}

.workspace-button.active {
    background: white;
    box-shadow: 1px 1px 2px transparentize($background, 0.6);
}

.logo {
    font-size: 16px;
}
