@import "/home/kyle/.cache/wal/colors.scss";

.calendar-widget {
    background-color: transparentize(rgb(15, 15, 15), 0.3);
    border-radius: 8px;
}

.calendar,
.outer-box-calendar {
    border: 0.3px solid transparentize($background, 0.6);
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 0px;
}

.menu-closer {
    background: transparent;
}

.calendar-component {
    background: transparent;
    border: none;
    padding: 3px;
    color: transparentize(white, 0.4);
    font-size: 12px;

    &:selected {
        color: white;
        font-weight: 700;
        text-shadow: 1px 1px 2px transparentize($background, 0.6);
    }

    &.button {
        border: none;
    }

    &.highlight {
        color: transparentize(white, 0.3);
    }

    &:indeterminate {
        color: transparentize(white, 0.8);
    }

    &.header {
        border-bottom: 0.3px solid transparentize(white, 0.4);
        color: white;
        font-size: 14px;
        font-weight: bold;
    }
}
